body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;

}
.container{
    padding: 40px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.form {
    display: flex;
    height: 80px;
}

.form-group {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label{
    font-weight: 700;
}

input {
    height: 25px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.table thead tr {
    /* background-color: #0e70e0; */
    color: #000000;
    text-align: left;
    padding: 50p;
    height: 50px;
    text-align: ;
    font-weight: 700;
    border-bottom: 1px solid rgb(233, 231, 231);
}

.table,
.table {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
    height: 40px;

}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabletbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.btn-submit {
    background-color: #39a74cce;
    color: white;
}

.btn{
    height: 30px;
    border: none;
    color: white;
}

hr{
    border: px solid black;
}

.checkbox{
    height: 50px;
}

.remove{
    background-color: #da2a2a;
}

.true{
    background-color: #39a74cce;
}

.false{
    background-color: #e7bf39;
}